/*Imagens do site*/

.hero-section {
  position: relative;
  z-index: 1;
}

.slideshow {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade 15s infinite;
  object-fit: cover;
  object-position: center;
}

@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  50% { opacity: 1; }
  70% { opacity: 0; }
  100% { opacity: 0; }
}

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 5s; }
.slide:nth-child(3) { animation-delay: 10s; }
.slide:nth-child(4) { animation-delay: 15s; }


/* check.jpg */
li img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}
